* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #F8F8F8;
}

/*=============================== below styles for header section ============================================*/

.headings a {
    text-decoration: none;
    color: #002F07;
}

header {
    height: 80px;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: #d6d6d6 0px 2px 5px 0px;
    /* position: fixed; */
    width: 100%;

}

header:hover {
    box-shadow: #d6d6d6 0px 5px 10px 0px;
}

.headericons a:hover {
    filter: drop-shadow(1px 1px 1px #456349);
}

.headings {
    position: relative;
    display: flex;
    gap: 50px;
}

a {
    cursor: pointer;
}

.headings>a>.fa-sharp {
    font-size: 20px;
    color: #002F07;
    height: 20px;
    width: 20px;
}


.headings a{
    position: relative;
    text-decoration: none;
    color: #002F07;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 0px 10px;

}

.headings a:after{
    content: "";
    position: absolute;
    background-color: #42A953;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
}

.headings a:hover::after {
    width: 100%;
}

.home {
    position: fixed;
    top: 50px;
    left: 445px;
    background-color: #42A953;
    border-radius: 3px;
    width: 110px;
    height: 50px;
    display: none;
    line-height: 20px;
    text-align: left;
    padding-top: 10px;
    padding: 1px;

}

.home a {
    color: #ffffff;
}


.headerCatog:hover+.home {
    display: block;

}

.home:hover {
    display: block;
    cursor: pointer;
}


.headericons {
    display: flex;
    gap: 30px;
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* ======================================================================================================================= */


/*=============================== below styles for section-1 section ============================================*/

    /*-------------below style for section 1 inside div bannersection -----------------------------*/
.bannersection {
    height: 430px;
    width: 100%;
    justify-content: center;
    text-align: center;
    background-image: url(image/Rectangle\ 30.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.offersText {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 260px;
    width: 550px;
}

.offersText>span {
    font-size: 22px;
}

.offersText>h1 {
    font-size: 40px;
}

.offersText>button {
    height: 50px;
    width: 180px;
    background-color: green;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* ======================================================================================================================= */

    /*-------------below style for section-1's inside div bannersection -----------------------------*/

.features-banner-main {
    background-color: #FFFFFF;
    display: flex;
    gap: 35px;
    margin: 20px 100px;
    border-radius: 5px;
    padding: 0px 100px;
    height: 100px;

}

.features-banner-main:hover {
    box-shadow: #d6d6d6 2px 2px 15px 1px;

}

.featurebanner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.imgcontainer {
    height: 50px;
    width: 50px;
}

.imgcontainer>img {
    height: 100%;
    width: 100%;
}

.textsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5px;

}
/* ------------------------------------------------------------------------------------------------------------------ */
/* ======================================================================================================================= */


/*=============================== below styles for section-2 section ============================================*/

    /*-------------below style for section-2's inside div the div class name is topcategory -----------------------------*/

.topCategory {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    color: #002F07;
} 

.emptyline {
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.firstLine {
    width: 20px;
    height: 7px;
    background-color: #42A953;
    border: 2px solid #42A953;
    border-radius: 20px;

}

.secondLine {
    width: 50px;
    height: 7px;
    background-color: #42A953;
    border: 2px solid #42A953;
    border-radius: 20px;
}
    /*-------------below style for section-2's inside div the div class name is stockInfo -----------------------------*/

.stockInfo {
    display: flex;
    gap: 75px;
    margin: 50px 100px;
}
    /*-------------below style for section-2's inside 6-divs the div class name is items  -----------------------------*/

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 130px;
    width: 130px;
    background-color: #EEF2EE;
}

.items:hover {
    box-shadow: #d6d6d6 0px 0px 10px 2px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ======================================================================================================================= */


/*=============================== below styles for section-3 section ============================================*/

                            /* in the section there was three div inside */

                    /*--first one is name less div that div have a below styles--*/
.section-3 {
    margin: 10px 100px;
}

.headText h1 {
    color: #002F07;
}

.headText {
    display: flex;
    justify-content: flex-end;

}

.headText>h3>a {

    text-decoration: none;
    color: #42A953;
}
    /*------------- below styles for products div that is created in js -----------------------------*/

            /*-------------products div is 2 child of section-3-----------------------*/

/*------inside of the products div we two main divs that is one vegitable div and the second one is fruits div------------*/

.vegitablesDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

    /*------------- we have main div name is productInnerdiv it is in the vegitable div ---------*/
.productsInnerDiv {
    height: 270px;
    width: 230px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

.productsInnerDiv:hover {
    box-shadow: #d6d6d6 0px 0px 10px 2px;
}
/*------------inside of the product innerDiv we have 4 sub divs the first one iconsdiv----------------*/
.iconsdiv {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.iconsdiv>img {
    height: 35px;
    width: 50px;
}

.iconsdiv>span {
    position: absolute;
    color: #ffffff;
    top: 12px;
    font-size: 11px;
    left: 14px;
}

.heart {
    cursor: pointer;
    height: 27px;
    width: 27px;
    padding: 3px;
    border: 1px solid #42A953;
    border-radius: 3px;
}
.heart:hover{
    box-shadow: #456349 1px 1px 5px 0px;
}
.heart .fa-regular {
    font-size: 18px;
    color: green;
    transition: 0.2s;
}

.heart .fa-solid {
    transition: 0.2s;
    font-size: 20px;
    color: green;
}
/* -------second sub div name is productImg div -----------*/
.productImg {
    height: 120px;
    width: 135px;
    margin-left: 20%;
}

.productImg>img {
    width: 100%;
    height: 100%;
}
/* ----------below div is third sub div name is productRate ----------*/

.productRate>h3 {
    height: 40px;
    width: 210px;
    font-size: 16px;
    text-align: center;
    color: #002F07;

}
.priceDiv{
    display: flex;
    gap: 5px;
    align-items: baseline;
}

del {
    font-size: 14px;
    color: darkred;
}


        /* ----------forth sub div is bitton div for buttons--------- */

.btnsection {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.btnsection>button:first-child {
    border-radius: 5px;
    height: 25px;
    width: 90px;
    border: none;
    background-color: #A3B6A7;
    cursor: not-allowed;
}

.btnsection>button:last-child {
    height: 25px;
    width: 90px;
    border: none;
    background-color: #42A953;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
}
.btnsection>button:last-child:hover{
    box-shadow: #456349 1px 1px 5px 0px;

}
.btnsection>button:last-child {
    position: relative;
    border: none;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    overflow: hidden;
  }
  
  .btnsection>button:last-child:after {
    content: "";
    background: #002F07;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
.btnsection>button:last-child:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
.btnsection>:last-child{
    display: flex;
    justify-content: space-around;
}
.btnsection:last-child>*{
    font-size: 20px;
}
/* ------The second div of productinnerdiv is fruits div  
        this div's also have a same 4 child divs like above the vegetable div-------*/
.fruitsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
} 

/*-------below div is the last div of section-3------------*/

.basket{
    display: flex;
    text-align: center;
    height: 50px;
    border-radius: 3px;
    position: fixed;
    top: 85%;
    right: 10px;
    justify-content: center;
    border: 1px solid #42A953;
    box-shadow: #456349 1px 1px 5px 0px;
    display: none;
}
.show{
    display: block;
    display: flex;
}
.basket>:first-child{
    padding: 15px 7px;
    width: 200px;
    background-color: #ffffff;
}
.basket>:last-child{
    padding: 15px 7px;
    width: 140px;
    background-color: #42A953;
    cursor: pointer;
}
/* ===========================section-3's style was ended here========================================== */

